:root,
[data-theme="default"] {
  --color-background: #fafaf9;
  --color-form: #ffffff;
  --color-subform: #fafaf9;
  --color-form-border: #d7d3d1;
  --color-input-border: #e7e5e4;
  --color-input-ring: #2b7fff;
  --color-button-border: #e7e5e4;
  --color-button-primary: #fafaf9;
  --color-button-hover: #d5d4d3;
  --color-title: #1c1917;
  --color-subtitle: #4b5563;
  --color-primary: #1c1917;
  --color-icon: #79716b;
  --color-tooltip: #57534d;
  --color-empty: #e7e5e4;
  --color-operational: #22c55e;
  --color-degraded: #eab308;
  --color-partial: #f97316;
  --color-major: #dc2626;

  --font-family-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

[data-theme="dark"] {
  --color-background: #18181b;
  --color-form: #27272a;
  --color-subform: #1f1f23;
  --color-form-border: #3f3f46;
  --color-input-border: #52525b;
  --color-input-ring: #60a5fa;
  --color-button-border: #52525b;
  --color-button-primary: #3f3f46;
  --color-button-hover: #52525b;
  --color-title: #fafafa;
  --color-subtitle: #d4d4d8;
  --color-primary: #ffffff;
  --color-icon: #a1a1aa;
  --color-tooltip: #e4e4e7;
  --color-empty: #52525b;
  --color-operational: #22c55e;
  --color-degraded: #facc15;
  --color-partial: #fb923c;
  --color-major: #ef4444;
}
