{%
  macro button(
    text=null,
    icon=null,
    rounded=null,
    callback=null,
    x_text=null,
    type="button",
    w_full=false,
    variant="blue",
    span_class="",
    class="",
    x_bind_disabled=false
  )
%}
  {%
    set variants = {
      'blue': 'bg-button-bg-blue text-button-text-blue hover:bg-button-hover-blue',
      'yellow': 'bg-button-bg-yellow text-button-text-yellow hover:bg-button-hover-yellow',
      'red': 'bg-button-bg-red text-button-text-red hover:bg-button-hover-red',
      'primary': 'bg-button-bg-primary text-button-text-primary hover:bg-button-hover-primary',
    }
  %}

  <button
    type="{{ type }}"
    {% if callback %}@click="{{ callback }}"{% endif %}
    {% if x_bind_disabled %}:disabled="{{ x_bind_disabled }}"{% endif %}
    class="cursor-pointer {% if w_full %}w-full{% endif %}
          py-2.5 px-4 text-sm font-medium rounded-button
          {{ variants[variant] }} transition
          flex items-center justify-center gap-2
          disabled:opacity-50 disabled:cursor-not-allowed
          duration-200 transform hover:-translate-y-0.5
          {{ class }}"
  >
    {% if icon %}{{ icon }}{% endif %}
    {% if text or x_text %}
      <span
        {% if x_text %}x-text="{{ x_text }}"{% endif %}
        {% if span_class %}class="{{ span_class }}"{% endif %}
        >{{ text }}</span
      >
    {% endif %}
  </button>
{% endmacro %}
