<div
  x-show="{{ show }}"
  x-cloak
  class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
>
  <div class="form-color w-full max-w-md mx-4">
    <div
      class="flex justify-between items-center p-6 border-b form-sub-color form-border-color"
    >
      <h2 x-text="{{ title }}" class="text-xl font-semibold title-color"></h2>
      <button
        @click=" {{ cancel }}"
        class="cursor-pointer text-gray-500 hover:text-gray-600"
      >
        ✕
      </button>
    </div>
    <div class="overflow-y-auto max-h-96 p-6">
      {% block content %}{% endblock %}
    </div>
    <div
      class="flex justify-end gap-3 p-6 border-t form-border-color form-sub-color "
    >
      {{
        button(
          text="Cancel",
          callback=cancel,
          type="button",
          variant="primary",
          class="border button-border-color"
        )
      }}

      {% block buttons %}
      {% endblock %}
    </div>
  </div>
</div>
