<div
  x-show="{{ show }}"
  x-cloak
  class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
>
  <div class="bg-form w-full max-w-md mx-4 rounded-form shadow-form">
    <div
      class="flex justify-between items-center p-6 border-b bg-subform border-form-border"
    >
      <h2 x-text="{{ title }}" class="text-xl font-semibold text-title"></h2>
      <button
        @click=" {{ cancel }}"
        class="cursor-pointer text-gray-500 hover:text-gray-600"
      >
        ✕
      </button>
    </div>
    <div class="overflow-y-auto max-h-96 p-6">
      {% block content %}{% endblock %}
    </div>
    <div
      class="flex justify-end gap-3 p-6 border-t border-form-border bg-subform"
    >
      {{
        button(
          text="Cancel",
          callback=cancel,
          type="button",
          variant="primary",
          class="border border-button-border",
          x_bind_disabled="state.modal.isLoading"
        )
      }}

      {% block buttons %}
      {% endblock %}
    </div>
  </div>
</div>
