<div
  class="mt-8 flex-col pb-8 flex items-center justify-center gap-8 text-sm text-gray-600 md:flex-wrap sm:flex-row"
>
  {%
    set statuses = [
      {
        "text": "Operational",
        "color": "bg-operational"
      },
      {
        "text": "Degraded",
        "color": "bg-degraded"
      },
      {
        "text": "Partial Outage",
        "color": "bg-partialoutage"
      },
      {
        "text": "Major Outage",
        "color": "bg-majoroutage"
      }
    ]
  %}

  {% for status in statuses %}
    <div class="flex items-center gap-2">
      <div class="h-3 w-3 {{ status.color }}"></div>
      <span class="text-stone-700">{{ status.text }}</span>
    </div>
  {% endfor %}
</div>
