{% from "components/ui/button.html" import button %}
{% from "components/ui/icons.html" import icon %}
{% extends "base.html" %}
{% block content %}
  {% include "admin/header.html" %}

  <main
    x-data="groups('{{ admin_path }}')"
    x-init="fetch()"
    class="container mx-auto px-6 pt-12 max-w-4xl mx-auto"
  >
    <div class="form-color border form-border-color p-6">
      <div class="flex justify-between items-center mb-6 flex-wrap">
        <h2 class="text-2xl font-semibold title-color">Groups</h2>
        {{
          button(
          text="Create group",
          icon=icon(name="plus", size="sm", color="white"),
          callback="openModal('create')",
          type="button",
          w_full=false,
          variant="blue",

          )
        }}
      </div>
      {% include "admin/groups/table.html" %}
    </div>
    {% include "admin/groups/modal.html" %}
  </main>
{% endblock %}
