{% from "components/ui/button.html" import button %}
{% from "components/ui/icons.html" import icon %}

<div class="overflow-x-auto">
  <table class="min-w-full">
    <thead>
      <tr class="table-thead-bg-color border-b form-border-color">
        {% set ths = ["Name", "Actions"] %}

        {% for th in ths %}
          <th
            class="px-4 md:px-6 py-3
        {% if not loop.last %}text-left{% endif %}
        {% if loop.last %}text-right{% endif %}
        text-xs font-semibold subtitle-color uppercase"
          >
            {{ th }}
          </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody class="form-color">
      <template x-for="item in state.items" :key="item.id">
        <tr class="table-body-hover transition">
          <td
            class="px-4 md:px-6 py-3 text-left text-sm font-medium text-color"
            x-text="$truncate(item.name, 64)"
          ></td>

          <td class="px-4 md:px-6 py-3">
            <div class="flex justify-end items-center gap-2">
              {{
                button(
                icon=icon(name="edit", size="sm", color="white"),
                callback="openModal('update', item)",
                type="button",
                variant="yellow",
                )
              }}

              {{
                button(
                icon=icon(name="trash", size="sm", color="white"),
                callback="openModal('delete', item)",
                type="button",
                variant="red",
                )
              }}
            </div>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
