:root,
[data-theme="default"] {
  /* Backgrounds */
  --color-background: #fafaf9;
  --color-form: #ffffff;
  --color-subform: #fafaf9;

  /* Button primary */
  --color-button-bg-primary: #fafaf9;
  --color-button-hover-primary: #d5d4d3;
  --color-button-text-primary: #1c1917;

  /* Button red */
  --color-button-bg-red: #fb2c36;
  --color-button-hover-red: #e7000b;
  --color-button-text-red: #ffffff;

  /* Button blue */
  --color-button-bg-blue: #2b7fff;
  --color-button-hover-blue: #155dfb;
  --color-button-text-blue: #ffffff;

  /* Button yellow */
  --color-button-bg-yellow: #f0b100;
  --color-button-hover-yellow: #d08700;
  --color-button-text-yellow: #ffffff;

  /* Borders */
  --color-form-border: #d7d3d1;
  --color-input-border: #e7e5e4;
  --color-button-border: #e7e5e4;

  /* Radius */
  --radius-form: 0rem;
  --radius-input: 0rem;
  --radius-button: 0rem;
  --radius-bar: 0rem;
  --radius-legend: 0rem;

  /* Shadows */
  --shadow-form: none;

  /* Interactive */
  --color-input-ring: #2b7fff;

  /* Typography */
  --color-title: #1c1917;
  --color-subtitle: #4b5563;
  --color-primary: #1c1917;
  --color-tooltip: #57534d;

  /* Icons */
  --color-icon: #79716b;

  /* Status */
  --color-empty: #e7e5e4;
  --color-operational: #22c55e;
  --color-degraded: #eab308;
  --color-partial: #f97316;
  --color-major: #dc2626;

  --font-family-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}
