[data-theme="modern"] {
  /* Backgrounds */
  --color-background: #f9fafb;
  --color-subform: #f9fafb;

  /* Button primary */
  --color-button-bg-primary: #fafaf9;
  --color-button-hover-primary: #d5d4d3;
  --color-button-text-primary: #1c1917;

  /* Borders */
  --color-form-border: #d1d5db;
  --color-input-border: #d1d5db;
  --color-button-border: #d1d5db;

  /* Radius */
  --radius-form: 0.375rem;
  --radius-input: 0.375rem;
  --radius-button: 0.375rem;

  /* Shadow */
  --shadow-form: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;

  /* Typography */
  --color-title: #000000;
  --color-subtitle: #1e2939;
  --color-primary: #000000;
  --color-tooltip: #364153;

  /* Icons */
  --color-icon-primary: #101828;

  /* Status */
  --color-empty: #f7f7f8;
  --color-operational: #24c19a;
  --color-degraded: #fbbf24;
  --color-partial: #f5785c;
  --color-major: #f55c5c;
}
