@import "notyf/notyf.min.css";
@import "tailwindcss";
@import "./css/themes.css";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/Inter.ttf") format("truetype");
}

@theme {
  /* Backgrounds */
  --color-background: var(--color-background);
  --color-form: var(--color-form);
  --color-subform: var(--color-subform);
  --color-button-bg-primary: var(--color-button-bg-primary);
  --color-button-bg-blue: var(--color-button-bg-blue);
  --color-button-bg-red: var(--color-button-bg-red);
  --color-button-bg-yellow: var(--color-button-bg-yellow);

  /* Borders */
  --color-form-border: var(--color-form-border);
  --color-input-border: var(--color-input-border);
  --color-button-border: var(--color-button-border);

  /* Interactive */
  --color-input-ring: var(--color-input-ring);
  --color-button-primary-hover: var(--color-button-primary-hover);
  --color-button-red-hover: var(--color-button-hover);
  --color-button-blue-hover: var(--color-button-hover);
  --color-button-yellow-hover: var(--color-button-hover);

  /* Typography */
  --color-title: var(--color-title);
  --color-subtitle: var(--color-subtitle);
  --color-primary: var(--color-primary);
  --color-tooltip: var(--color-tooltip);

  /* Icons */
  --color-icon: var(--color-icon);

  /* Status */
  --color-empty: var(--color-empty);
  --color-operational: var(--color-operational);
  --color-degraded: var(--color-degraded);
  --color-partial: var(--color-partial);
  --color-major: var(--color-major);

  /* Radius */
  --radius-form: var(--radius-form);
  --radius-input: var(--radius-input);
  --radius-button: var(--radius-button);
  --radius-bar: var(--radius-bar);
  --radius-legend: var(--radius-legend);

  --font-family-sans: var(--font-family-inter);
}

@layer components {
  .button-primary-color {
    @apply bg-button-bg-primary text-primary hover:bg-button-primary-hover;
  }

  .button-red-color {
    @apply bg-button-bg-red text-primary hover:bg-button-red-hover;
  }

  .button-blue-color {
    @apply bg-button-bg-blue text-primary hover:bg-button-blue-hover;
  }

  .button-yellow-color {
    @apply bg-button-bg-yellow text-primary hover:bg-button-yellow-hover;
  }
}

[x-cloak] {
  display: none !important;
}

body {
  font-family: var(--font-family-inter) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1 !important;
  letter-spacing: -0.011em !important;
}
