@import "notyf/notyf.min.css";
@import "tailwindcss";
@import "./css/themes.css";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/Inter.ttf") format("truetype");
}

@theme {
  --color-background: var(--color-background);

  --color-form: var(--color-form);
  --color-subform: var(--color-subform);
  --color-form-border: var(--color-form-border);

  --color-input-border: var(--color-input-border);
  --color-input-ring: var(--color-input-ring);

  --color-button-border: var(--color-button-border);
  --color-button-primary: var(--color-button-primary);
  --color-button-hover: var(--color-button-hover);

  --color-title: var(--color-title);
  --color-subtitle: var(--color-subtitle);
  --color-primary: var(--color-primary);

  --color-icon: var(--color-icon);

  --color-tooltip: var(--color-tooltip);

  --color-empty: var(--color-empty);
  --color-operational: var(--color-operational);
  --color-degraded: var(--color-degraded);
  --color-partial: var(--color-partial);
  --color-major: var(--color-major);

  --font-family-sans: var(--font-family-inter);
}

@layer components {
  .button-primary-color {
    @apply bg-button-primary text-primary hover:bg-button-hover;
  }
}

[x-cloak] {
  display: none !important;
}

body {
  font-family: var(--font-family-inter) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1 !important;
  letter-spacing: -0.011em !important;
}
