@import "notyf/notyf.min.css";
@import "tailwindcss";

:root {
  --color-background: #fafaf9;

  --color-form: #ffffff;
  --color-form-sub: #fafaf9;
  --color-form-border: #d7d3d1;

  --color-input-border: #e7e5e4;
  --color-input-ring: #2b7fff;

  --color-button-border: #e7e5e4;
  --color-button-primary: #fafaf9;

  --color-text-title: #1c1917;
  --color-text-subtitle: #4b5563;
  --color-text-primary: #1c1917;

  --color-icon-primary: #79716b;

  --color-tooltip-text: #57534d;

  --color-empty-status: #e7e5e4;
  --color-operational: #22c55e;
  --color-degraded: #eab308;
  --color-partial-outage: #f97316;
  --color-major-outage: #dc2626;

  --font-family-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/Inter.ttf") format("truetype");
}

@theme {
  --color-background: var(--color-background);

  --color-form: var(--color-form);
  --color-form-sub: var(--color-form-sub);
  --color-form-border: var(--color-form-border);

  --color-input-border: var(--color-input-border);
  --color-input-ring: var(--color-input-ring);

  --color-button-border: var(--color-button-border);
  --color-button-primary: var(--color-button-primary);

  --color-text-title: var(--color-text-title);
  --color-text-subtitle: var(--color-text-subtitle);
  --color-text-primary: var(--color-text-primary);

  --color-icon-primary: var(--color-icon-primary);

  --color-tooltip-text: var(--color-tooltip-text);

  --color-empty-status: var(--color-empty-status);
  --color-operational: var(--color-operational);
  --color-degraded: var(--color-degraded);
  --color-partial-outage: var(--color-partial-outage);
  --color-major-outage: var(--color-major-outage);

  --font-family-sans: var(--font-family-inter);
}

@layer components {
  .button-primary-color {
    @apply bg-button-primary text-black hover:bg-button-primary/90;
  }
}

[x-cloak] {
  display: none !important;
}

body {
  font-family: var(--font-family-inter) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1 !important;
  letter-spacing: -0.011em !important;
}
