@import "notyf/notyf.min.css";
@import "tailwindcss";

:root {
  --color-operational: #22c55e;
  --color-degraded: #eab308;
  --color-partialoutage: #f97316;
  --color-majoroutage: #dc2626;
  --font-family-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/Inter.ttf") format("truetype");
}

@theme {
  --color-operational: var(--color-operational);
  --color-degraded: var(--color-degraded);
  --color-partialoutage: var(--color-partialoutage);
  --color-majoroutage: var(--color-majoroutage);
  --font-family-sans: var(--font-family-inter);
}

@layer components {
  .bg-color {
    @apply bg-stone-50;
  }

  .form-color {
    @apply bg-white;
  }

  .from-sub-color {
    @apply bg-stone-50;
  }

  .form-border-color {
    @apply border-stone-300;
  }

  .input-border-color {
    @apply border-stone-200;
  }

  .input-ring-color {
    @apply focus:ring-blue-500;
  }

  .button-border-color {
    @apply border-stone-300;
  }

  .button-primary-color {
    @apply bg-stone-50 text-black hover:bg-stone-100;
  }

  .title-color {
    @apply text-stone-900;
  }

  .subtitle-color {
    @apply text-stone-700;
  }

  .text-color {
    @apply text-stone-900;
  }

  .icon-primary-color {
    @apply text-stone-900;
  }

  .table-color {
    @apply bg-stone-50;
  }

  .table-thead-bg-color {
    @apply bg-stone-50;
  }

  .table-body-hover {
    @apply hover:bg-stone-50;
  }

  .tooltip-text-color {
    @apply text-stone-600;
  }
}

[x-cloak] {
  display: none !important;
}

body {
  font-family: var(--font-family-inter) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1 !important;
  letter-spacing: -0.011em !important;
}
