@import "notyf/notyf.min.css";
@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/Inter.ttf") format("truetype");
}

@theme {
  --color-operational: #22c55e;
  --color-degraded: #eab308;
  --color-partialoutage: #f97316;
  --color-majoroutage: #dc2626;
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

[x-cloak] {
  display: none !important;
}

body {
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1 !important;
  letter-spacing: -0.011em !important;
}
